<div class="search-div">
    <p class="text-research">Want to research music quickly? Start typing your favorite music album...</p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Genre</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" #searchBox id="searchBox" (input)="searchMusicItemByName(searchBox.value)"/>
    </div>
    
    <p class="text-research">Or select your favorite music genre...</p>
    <div class="dropdown">
      <select class="select-input" #selectMusicGenre [(ngModel)]="selectedMusicGenre" (change)="searchGivenMusicGenre(selectMusicGenre.value)">
        <option *ngFor='let musicGenre of musicGenres' value="{{ musicGenre }}">{{ musicGenre }}</option>
      </select>
    </div>
</div>
